{% extends "base.html" %}

{% block content %}
    
    <style>
        body {
            background-color: #f8f9fa;
            color: #343a40;
        }

        .container {
            margin-top: 50px;
        }

        .section {
            margin-bottom: 40px;
        }

        .section-heading {
            border-bottom: 2px solid #6c757d;
            padding-bottom: 10px;
            margin-bottom: 20px;
            font-size: 1.5em;
            color: #007bff;
        }

        pre {
            background-color: #e9ecef;
            padding: 15px;
            border-radius: 5px;
            overflow: auto;
        }

        .card {
            background-color: #ffffff;
            border: 1px solid #e0e0e0;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #007bff;
            color: #ffffff;
            border-bottom: 1px solid #e0e0e0;
            border-radius: 10px 10px 0 0;
            padding: 10px 20px;
            font-size: 1.25em;
        }

        .card-body {
            padding: 20px;
        }
    </style>



<div class="container">

        <div class="section">
            <h2 class="section-heading">How to Use the API</h2>
            <p>Welcome to the API usage instructions. Here you will find how to integrate our API into your project. Follow the steps below for implementation details.</p>
        </div>

        <div class="section">
            
            <div class="card">
                <div class="card-header">
                    Creating Views
                </div>
                <div class="card-body">
                    <pre>
    from flask import Blueprint, request, jsonify, render_template, flash, url_for
    from sqlalchemy.exc import IntegrityError

                    </pre>
                    <pre>
    country_choices = https://country-api-1.onrender.com/username/password/country/countries                    


     def passenger_form():
    form = UserRegistrationForm()
    form.country.choices = country_choices()
    if request.method == 'POST':
        selected_country = request.form.get('country')
        form.state.choices = [(state, state)
                              for state in states.get(selected_country, [])]
           
        try:
            user = User(



                user_id=user_id,
                first_name=form.first_name.data,
                last_name=form.last_name.data,
                date_of_birth=form.date_of_birth.data,
                phone_number=form.phone_number.data,
                

            )
            db.session.add(user)
            db.session.commit()
            flash('User information submitted successfully!', 'success')
            return redirect(url_for('users.login'))
        except ValueError as e:
            flash(str(e), 'danger')
        except IntegrityError as e:
            db.session.rollback()
            logging.error("IntegrityError occurred: %s", e)
            flash("An error occurred during submission. Please try again.", 'danger')
    return render_template('user_form.html', form=form)

    <strong>MAKE SURE CHOICES ARE ADDED</strong>
</pre>
                    
                </div>
            </div>
        </div>

        <div class="section">
            
            <div class="card">
                <div class="card-header">
                    Creating Forms
                </div>
                <div class="card-body">
                    <pre>

        from flask_wtf import FlaskForm
        from flask import request, jsonify
        from wtforms_components import SelectField
        from wtforms import StringField, PasswordField, SubmitField, DateField, SelectFieFileField
        from wtforms.validators import DataRequired, Email, Length, EqualTo, Regexp
        



        class UserRegistrationForm(FlaskForm):
        first_name = StringField('First Name', validators=[DataRequired()])
        last_name = StringField('Last Name', validators=[DataRequired()])
        date_of_birth = DateField(
            'Date of Birth', format='%Y-%m-%d', validators=[DataRequired()])
        
        country = SelectField('Country', validators=[DataRequired()])
        state = SelectField('State', choices=[], validators=[DataRequired()])
                    
        phone_number = StringField('Phone Number', validators=[
            DataRequired(),
            Regexp(r'^(\+234\d{10}|0\d{10})$',
                   message="Invalid phone number. Must be in the format +234XXXXXXXXXX0XXXXXXXXXX")
        ])
        submit = SubmitField('Register')
                    </pre>
                </div>
            </div>
        </div>

        <div class="section">
            
            <div class="card">
                <div class="card-header">
                    Implementing JavaScript 
                </div>
                <div class="card-body">
                    <pre>

            <strong>For Auto-Populating the Countries</strong>
            
            document.addEventListener('DOMContentLoaded', function() {
                function fetchCountries() {
                    fetch('https://country-api-1.onrender.com//state/countries')
                        .then(response => response.json())
                        .then(data => {
                            const countrySelect = document.getElementById('country');
                            countrySelect.innerHTML = '';  // Clear existing options
                            data.forEach(country => {
                                const option = document.createElement('option');
                                option.value = country[0];  // country code
                                option.textContent = country[1];  // country name
                                countrySelect.appendChild(option);
                            });
                        })
                        .catch(error => console.error('Error fetching countries:', error));
                }
            
                fetchCountries();
            });


     <strong>For Auto-Populating the states</strong>
    document.addEventListener('DOMContentLoaded', function() {
    const countrySelect = document.getElementById('country');
    const stateSelect = document.getElementById('state');

    countrySelect.addEventListener('change', function() {
        const selectedCountry = countrySelect.value;
        console.log(`Selected country: ${selectedCountry}`);

        if (selectedCountry) {
            fetch(`https://country-api-1.onrender.com/state/get_states/${selectedCountry}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data);  // Log the response data to see what's returned
                    stateSelect.innerHTML = '<option value=""></option>';  // Clear previous options
                    data.forEach(state => {
                        const option = document.createElement('option');
                        option.value = state;
                        option.textContent = state;
                        stateSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching states:', error));
        } else {
            stateSelect.innerHTML = '<option value=""></option>';
        }
    });
});
                    </pre>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}