{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container jigga py-5">
    <div class="text-center">
        <h1 class="head">Welcome {{ current_user.username }}</h1>
        <a href="{{ url_for('core.dashboard') }}" class="btn btn-primary my-3">
            <strong>Click Here to View the Instructions on how to use it in your Flask Project</strong>
        </a>
        <br>
        <a href="{{ url_for('users.django') }}" class="btn btn-secondary my-3">
            <strong>Click Here to View the Instructions on how to use it in your Django Project</strong>
        </a>
    </div>
</div>

<div class="container mt-5 jigga">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="about-container text-white text-center p-4 rounded shadow-lg">
                <h2 class="mb-4">About Us</h2>
                <p>Welcome to our website! We are here to help with the auto-population of countries and their various states/districts/provinces.</p>
                <p>Some countries are shown by states, districts, and provinces.</p>
                <p>Our mission is to enlighten people. Please bear with us if some information seems outdated or incorrect.</p>
            </div>
        </div>
    </div>
</div>

<style>
    /* Custom styles for this page */
    .jigga {
        background-color: rgb(87, 91, 150);
        padding: 50px 0;
    }
    
    .head {
        color: white;
    }

    .about-container {
        background-color: #5f8ab5;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

</style>

{% endblock %}
